<!DOCTYPE html>
<html lang="en"> 
  <head>
    <meta charset="utf-8">
    <title>Rapid Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700" rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: Rapid
      Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
  </head>
  <body>
    <!--========================== Header ============================-->
    <header id="header">
      <div class="container">
        <div class="logo float-left">
          <!-- Uncomment below if you prefer to use an image logo -->
          <h1 class="text-light">
            <a href="#" class="scrollto">
              <img src="img/logo.png" alt="">
            </a>
          </h1>
          <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
        </div>
        <nav class="main-nav float-right d-none d-lg-block">
          <ul>
            <li>
              <a href="index.html">Beranda</a>
            </li>
            <li>
              <a href="Profil.html">Profil</a>
            </li>
            <li class="drop-down">
              <a href="">Informasi</a>
              <ul>
                <li>
                  <a href="Berita.html">Berita</a>
                </li>
                <li>
                  <a href="pengumuman.html">Pengumuman</a>
                </li>
                <li>
                  <a href="artikel.html">Artikel</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="layanan.html">Layanan</a>
            </li>
            <li>
              <a href="fasilitas.html">Fasilitas</a>
            </li>
            <li>
              <a href="produk.html">Produk</a>
            </li>
            <li>
              <a href="#">LPSE Website</a>
            </li>
          </ul>
        </nav>
        <!-- .main-nav -->
      </div>
    </header>
    <!-- #header -->
    <main id="main">
        <!--==========================Berita ============================-->
        <section class="sectionBerita">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left">
                                    Artikel
                                </h4>
                            </div>
                            <!-- end blog-top -->
                            <div class="blog-list clearfix">
                                <div class="tm-section tm-container-inner">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <figure class="tm-description-figure">
                                                <img src="img/post-2.jpg" alt="Image" class="img-fluid" />
                                            </figure>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="tm-description-box"> 
                                                <h4 class="beritaJ">Maecenas nulla neque</h4>
                                                <p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
                                                <div class="fh5co_tags_all_artikel">
                                                  <a href="DetailArtikel.html" class="fh5co_taggA">Business</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tm-section tm-container-inner">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <figure class="tm-description-figure">
                                                <img src="img/post-1.jpg" alt="Image" class="img-fluid" />
                                            </figure>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="tm-description-box"> 
                                                <h4 class="beritaJ">Maecenas nulla neque</h4>
                                                <p class="tm-mb-45">Redistributing this template as a downloadable ZIP file on any template collection site is strictly prohibited. You will need to <a rel="nofollow" href="https://templatemo.com/contact">talk to us</a> for additional permissions about our templates. Thank you.</p>
                                                <div class="fh5co_tags_all_artikel">
                                                  <a href="DetailArtikel.html" class="fh5co_taggA">Business</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end blog-list -->
                        </div>
                        <!-- end page-wrapper -->
                        <hr class="invis">
                    </div>
                    <!-- end col -->
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="blog-top clearfix">
                            <h4 class="pull-left">
                              Kategori
                            </h4>
                        </div>
                        <div class="clearfix"></div>
                        <div class="fh5co_tags_all_artikel">
                            <a href="#" class="fh5co_tagg">Business</a>
                            <a href="#" class="fh5co_tagg">Technology</a>
                            <a href="#" class="fh5co_tagg">Sport</a>
                            <a href="#" class="fh5co_tagg">Art</a>
                            <a href="#" class="fh5co_tagg">Lifestyle</a>
                            <a href="#" class="fh5co_tagg">Three</a>
                            <a href="#" class="fh5co_tagg">Photography</a>
                            <a href="#" class="fh5co_tagg">Lifestyle</a>
                            <a href="#" class="fh5co_tagg">Art</a>
                            <a href="#" class="fh5co_tagg">Education</a>
                            <a href="#" class="fh5co_tagg">Social</a>
                            <a href="#" class="fh5co_tagg">Three</a>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- #Berita -->
    </main>
    <!--========================== Footer ============================-->
    <div class="site-footer">
      <div class="m-5">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="row">
              <div class="col-6"><img src="img/tunas.png" style="width: 300px;" alt=""></div>
              <div class="col-6">
                <h6>Tugu Aneka Usaha</h6>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </div>
            </div>
  
          </div>
  
  
          <div class="col-xs-6 col-md-3">
            <h6>Categories</h6>
            <ul class="footer-links">
              <li><a href="http://scanfcode.com/category/c-language/">Profil</a></li>
              <li><a href="http://scanfcode.com/category/front-end-development/">Berita</a></li>
              <li><a href="http://scanfcode.com/category/back-end-development/">Pengumuman</a></li>
              <li><a href="http://scanfcode.com/category/java-programming-language/">Artikel</a></li>
              <li><a href="http://scanfcode.com/category/android/">Layanan</a></li>
              <li><a href="http://scanfcode.com/category/templates/">Fasilitas</a></li>
              <li><a href="http://scanfcode.com/category/android/">Produk</a></li>
              <li><a href="http://scanfcode.com/category/templates/">LPSE Website</a></li>
            </ul>
          </div>
  
          <div class="col-xs-6 col-md-3">
            <h6>Quick Links</h6>
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a class="dribbble" href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a class="linkedin" href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-6 col-xs-12 text-center">
            <p class="copyright-text">Copyright &copy; 2020 Tugu Aneka Usaha
              <a href="#">Malang</a>.
            </p>
          </div>
  
        </div>
      </div>
    </div>
    <!-- #Footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
    <script>
      $(function () {
        var selectedClass = "";
        $("p").click(function () {
          selectedClass = $(this).attr("data-rel");
          $("#portfolio").fadeTo(50, 0.1);
          $("#portfolio div").not("." + selectedClass).fadeOut();
          setTimeout(function () {
            $("." + selectedClass).fadeIn();
            $("#portfolio").fadeTo(50, 1);
          }, 500);
  
        });
      });
      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
          }
        });
      };
    </script>
    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
  </body>
</html>