<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- School -->
    <link rel="stylesheet" href="assets1/css/fontawesome.css">
    <link rel="stylesheet" href="assets1/css/owl.css">
    <link rel="stylesheet" href="assets1/css/lightbox.css">
    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    </script>
</head>

<body>
    <!--========================== Header ============================-->
    <header id="header">

        <div class="container">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light">
                    <a href="#" class="scrollto">
                        <img src="img/logo.png" alt="">
                    </a>
                </h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>
            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li>
                        <a href="index.html">Beranda</a>
                    </li>
                    <li>
                        <a href="Profil.html">Profil</a>
                    </li>
                    <li class="drop-down">
                        <a href="">Informasi</a>
                        <ul>
                            <li>
                                <a href="Berita.html">Berita</a>
                            </li>
                            <li>
                                <a href="pengumuman.html">Pengumuman</a>
                            </li>
                            <li>
                                <a href="artikel.html">Artikel</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="layanan.html">Layanan</a>
                    </li>
                    <li>
                        <a href="fasilitas.html">Fasilitas</a>
                    </li>
                    <li>
                        <a href="produk.html">Produk</a>
                    </li>
                    <li>
                        <a href="#">LPSE Website</a>
                    </li>
                </ul>
            </nav>
            <!-- .main-nav -->
        </div>
    </header>
    <!-- #header -->
    <!--========================== Intro Section ============================-->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src=https://images.unsplash.com/photo-1607664287075-2b23cedfd08c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
                        alt="">
                    <div class="text-content">
                        <h3>Welcome To Breezed</h3>
                        <h5>New Bootstrap Template</h5>
                        <a href="#" class="main-stroked-button">Learn More</a>
                        <a href="#" class="main-filled-button">Get It Now</a>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="https://images.unsplash.com/photo-1600195077909-46e573870d99?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80"
                        alt="">
                    <div class="text-content">
                        <h3>Integrated Marketing Media</h3>
                        <h5>Best Digital Marketing</h5>
                        <a href="#" class="main-stroked-button">Read More</a>
                        <a href="#" class="main-filled-button">Take Action</a>
                    </div>
                </div>
            </div>
            <!-- // Item -->
            <!-- Item -->
            <div class="item">
                <div class="img-fill">
                    <img src="https://images.unsplash.com/photo-1616724702000-d62ee6558e59?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80"
                        alt="">
                    <div class="text-content">
                        <h3>High Performance</h3>
                        <h5>Robust and Speedy</h5>
                        <a href="#" class="main-stroked-button">Learn More</a>
                        <a href="#" class="main-filled-button">Get It Now</a>
                    </div>
                </div>
            </div>
            <!-- // Item -->
        </div>
    </div>
    <!-- #intro -->
    <main id="main">
        <!--==========================About Us Section============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="img/about-img.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="about-content">
                            <h2>About Us</h2>
                            <h3>Odio sed id eos et laboriosam consequatur eos earum soluta.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et
                                dolore magna aliqua.</p>
                            <p>Aut dolor id. Sint aliquam consequatur ex ex labore. Et quis qui dolor nulla dolores
                                neque. Aspernatur
                                consectetur omnis numquam quaerat. Sed fugiat nisi. Officiis veniam molestiae. Et vel ut
                                quidem alias
                                veritatis repudiandae ut fugit. Est ut eligendi aspernatur nulla voluptates veniam iusto
                                vel quisquam.
                                Fugit ut maxime incidunt accusantium totam repellendus eum error. Et repudiandae eum
                                iste qui et ut ab
                                alias.</p>
                            <ul>
                                <li>
                                    <i class="ion-android-checkmark-circle"></i>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </li>
                                <li>
                                    <i class="ion-android-checkmark-circle"></i>
                                    Duis aute irure dolor in reprehenderit in voluptate velit.
                                </li>
                                <li>
                                    <i class="ion-android-checkmark-circle"></i>
                                    Ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro
                                    dolore eu fugiat
                                    nulla pariatur.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #about -->

        <!--========================== Berita ============================-->
        <section id="services" class="section-bg">
            <div class="container">
                <div class="judul">
                    <h2>Berita</h2>
                    <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant
                        vituperatoribus.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="work-img img-fluid">
                                <img class="bg"
                                    src="https://images.unsplash.com/photo-1618371577182-3f12ebf81521?ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDV8fHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
                                    alt="">
                            </div>
                            <h4 class="title">
                                <a href="">Lorem Ipsum</a>
                            </h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="work-img img-fluid">
                                <img class="bg"
                                    src="https://images.unsplash.com/photo-1618308178796-f4dc0a03bab6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                                    alt="">
                            </div>
                            <h4 class="title">
                                <a href="">Lorem Ipsum</a>
                            </h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="work-img img-fluid">
                                <img class="bg"
                                    src="https://images.unsplash.com/photo-1613269181997-1f948902853f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                            </div>
                            <h4 class="title">
                                <a href="">Lorem Ipsum</a>
                            </h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="work-img img-fluid">
                                <img class="bg"
                                    src="https://images.unsplash.com/photo-1616993166667-e3d889d74814?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                            </div>
                            <h4 class="title">
                                <a href="">Lorem Ipsum</a>
                            </h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="work-img img-fluid">
                                <img class="bg"
                                    src="https://images.unsplash.com/photo-1618332304972-f016013e4a64?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                                    alt="">
                            </div>
                            <h4 class="title">
                                <a href="">Lorem Ipsum</a>
                            </h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 wow bounceInUp" data-wow-duration="1.4s">
                        <div class="box">
                            <div class="work-img img-fluid">
                                <img class="bg"
                                    src="https://images.unsplash.com/photo-1618215665030-b10900e0f602?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"
                                    alt="">
                            </div>
                            <h4 class="title">
                                <a href="">Lorem Ipsum</a>
                            </h4>
                            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias
                                excepturi sint
                                occaecati cupiditate non provident</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #Berita -->



        <!--========================== Pengumuman ============================-->
        <section id="work" class="portfolio-mf sect-pt4 route">
            <div class="container">
                <div class="judul">
                    <h2>Pengumuman</h2>

                    <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant
                        vituperatoribus.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/work-1.jpg" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="img/work-1.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="title">
                                                <a href="">Loreda Cuno Nere</a>
                                            </h4>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design</span>
                                                /
                                                <span class="w-date">18 Sep. 2018</span>
                                                <button type="button"
                                                    class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2 float-right">
                                                    Cek<i class="fas fa-angle-right ml-1"></i></button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- <div class="w-like">

                        <button type="button" class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2">
                          <i class="fas fa-info-circle"></i>Cek</button>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/work-2.jpg" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="img/work-2.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="title">
                                                <a href="">Loreda Cuno Nere</a>
                                            </h4>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design</span>
                                                /
                                                <span class="w-date">18 Sep. 2018</span>
                                                <button type="button"
                                                    class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2 float-right">
                                                    Cek<i class="fas fa-angle-right ml-1"></i></button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- <div class="w-like">

                        <button type="button" class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2">
                          <i class="fas fa-info-circle"></i>Cek</button>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/work-3.jpg" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="img/work-3.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="title">
                                                <a href="">Loreda Cuno Nere</a>
                                            </h4>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design</span>
                                                /
                                                <span class="w-date">18 Sep. 2018</span>
                                                <button type="button"
                                                    class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2 float-right">
                                                    Cek<i class="fas fa-angle-right ml-1"></i></button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- <div class="w-like">

                        <button type="button" class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2">
                          <i class="fas fa-info-circle"></i>Cek</button>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/work-4.jpg" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="img/work-4.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="title">
                                                <a href="">Loreda Cuno Nere</a>
                                            </h4>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design</span>
                                                /
                                                <span class="w-date">18 Sep. 2018</span>
                                                <button type="button"
                                                    class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2 float-right">
                                                    Cek<i class="fas fa-angle-right ml-1"></i></button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- <div class="w-like">

                        <button type="button" class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2">
                          <i class="fas fa-info-circle"></i>Cek</button>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/work-5.jpg" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="img/work-5.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="title">
                                                <a href="">Loreda Cuno Nere</a>
                                            </h4>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design</span>
                                                /
                                                <span class="w-date">18 Sep. 2018</span>
                                                <button type="button"
                                                    class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2 float-right">
                                                    Cek<i class="fas fa-angle-right ml-1"></i></button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- <div class="w-like">

                        <button type="button" class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2">
                          <i class="fas fa-info-circle"></i>Cek</button>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="work-box">
                            <a href="img/work-6.jpg" data-lightbox="gallery-mf">
                                <div class="work-img">
                                    <img src="img/work-6.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="work-content">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 class="title">
                                                <a href="">Loreda Cuno Nere</a>
                                            </h4>
                                            <div class="w-more">
                                                <span class="w-ctegory">Web Design</span>
                                                /
                                                <span class="w-date">18 Sep. 2018</span>
                                                <button type="button"
                                                    class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2 float-right">
                                                    Cek<i class="fas fa-angle-right ml-1"></i></button>
                                            </div>
                                        </div>
                                        <div>
                                            <!-- <div class="w-like">

                        <button type="button" class="btn btn-outline-primary btn-round mr-md-3 mb-md-0 mb-2">
                          <i class="fas fa-info-circle"></i>Cek</button>
                      </div> -->
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #Pengumuman -->

        <!--========================== Artikel ============================-->
        <section id="blog" class="blog-mf sect-pt4 route">
            <div class="container">
                <div class="judul">
                    <h2>Artikel</h2>
                    <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant
                        vituperatoribus.</p>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-img">
                                <a href="blog-single.html">
                                    <img src="img/post-1.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="card-category-box">
                                    <div class="card-category">
                                        <h6 class="category">Travel</h6>
                                    </div>
                                </div>
                                <h4 class="title">
                                    <a href="">Lorem Ipsum</a>
                                </h4>
                                <p class="card-description">
                                    Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent
                                    sapien massa, convallis
                                    a pellentesque nec,
                                    egestas non nisi.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="post-author">
                                    <a href="#">
                                        <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                        <span class="author">Morgan Freeman</span>
                                    </a>
                                </div>
                                <div class="post-date">
                                    <span class="ion-ios-clock-outline"></span> 10 min
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-img">
                                <a href="blog-single.html">
                                    <img src="img/post-2.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="card-category-box">
                                    <div class="card-category">
                                        <h6 class="category">Web Design</h6>
                                    </div>
                                </div>
                                <h4 class="title">
                                    <a href="">Lorem Ipsum</a>
                                </h4>
                                <p class="card-description">
                                    Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent
                                    sapien massa, convallis
                                    a pellentesque nec,
                                    egestas non nisi.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="post-author">
                                    <a href="#">
                                        <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                        <span class="author">Morgan Freeman</span>
                                    </a>
                                </div>
                                <div class="post-date">
                                    <span class="ion-ios-clock-outline"></span> 10 min
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-blog">
                            <div class="card-img">
                                <a href="blog-single.html">
                                    <img src="img/post-3.jpg" alt="" class="img-fluid">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="card-category-box">
                                    <div class="card-category">
                                        <h6 class="category">Web Design</h6>
                                    </div>
                                </div>
                                <h4 class="title">
                                    <a href="">Lorem Ipsum</a>
                                </h4>
                                <p class="card-description">
                                    Proin eget tortor risus. Pellentesque in ipsum id orci porta dapibus. Praesent
                                    sapien massa, convallis
                                    a pellentesque nec,
                                    egestas non nisi.
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="post-author">
                                    <a href="#">
                                        <img src="img/testimonial-2.jpg" alt="" class="avatar rounded-circle">
                                        <span class="author">Morgan Freeman</span>
                                    </a>
                                </div>
                                <div class="post-date">
                                    <span class="ion-ios-clock-outline"></span> 10 min
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- #artikel -->

        <!--========================== Clients Section ============================-->
        <section id="clients" class="wow fadeInUp">
            <div class="container">
                <div class="judul">
                    <h2>Kerja Sama</h2>
                </div>
                <div class="owl-carousel clients-carousel">
                    <img src="img/clients/client-1.png" alt="">
                    <img src="img/clients/client-2.png" alt="">
                    <img src="img/clients/client-3.png" alt="">
                    <img src="img/clients/client-4.png" alt="">
                    <img src="img/clients/client-5.png" alt="">
                    <img src="img/clients/client-6.png" alt="">
                    <img src="img/clients/client-7.png" alt="">
                    <img src="img/clients/client-8.png" alt="">
                </div>
            </div>
        </section>
        <!-- #clients -->
    </main>
    <!--========================== Footer ============================-->
    <!-- Site footer -->
    <div class="site-footer">
        <div class="m-5">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6"><img src="img/tunas.png" style="width: 300px;" alt=""></div>
                        <div class="col-6">
                            <h6>Tugu Aneka Usaha</h6>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>

                </div>


                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">Profil</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">Berita</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">Pengumuman</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Artikel</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Layanan</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Fasilitas</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Produk</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">LPSE Website</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12 text-center">
                    <p class="copyright-text">Copyright &copy; 2020 Tugu Aneka Usaha
                        <a href="#">Malang</a>.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>
        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>

</html>
