<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Layanan</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">

    <link rel="stylesheet" href="assets/css/owl-carousel.css">

    <link rel="stylesheet" href="assets/css/lightbox.css">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">

    <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
    <!--========================== Header ============================-->
    <header id="header">

        <div class="container">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light">
                    <a href="#" class="scrollto">
                        <img src="img/logo.png" alt="">
                    </a>
                </h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>
            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li>
                        <a href="index.html">Beranda</a>
                    </li>
                    <li>
                        <a href="Profil.html">Profil</a>
                    </li>
                    <li class="drop-down">
                        <a href="">Informasi</a>
                        <ul>
                            <li>
                                <a href="Berita.html">Berita</a>
                            </li>
                            <li>
                                <a href="pengumuman.html">Pengumuman</a>
                            </li>
                            <li>
                                <a href="artikel.html">Artikel</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="layanan.html">Layanan</a>
                    </li>
                    <li>
                        <a href="fasilitas.html">Fasilitas</a>
                    </li>
                    <li>
                        <a href="produk.html">Produk</a>
                    </li>
                    <li>
                        <a href="#">LPSE Website</a>
                    </li>
                </ul>
            </nav>
            <!-- .main-nav -->
        </div>
    </header>
    <!-- #header -->

    <!-- #intro -->
    <main id="main" class="mt-5">
        <div class="service mt-5">
            <div class="container-fluid">
                <div class="judul">
                    <h2>Jenis Layanan</h2>
                </div>
                <!-- DEMO 1 -->
                <div class="py-5">
                    <div class="row">
                        <!--Layanan 1-->
                        <div class="col-md-3 mb-3 ">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1615937662601-4724eceda00f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content ">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description  mb-0 " style="
                    text-shadow: 0 0 3px #080707, 0 0 5px #130a0a;
                  ">
                                        Menyediakan tempat dan peralatan pemotongan hewan yang terjaga higinitas dan
                                        sanitasinya.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Layanan 2-->
                        <div class="col-lg-3">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1602027833189-514f188261d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content ">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description font-weight-light mb-0">
                                        Menyediakan kandang/tempat penampungan hewan yang akan dipotong.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Layanan 3 -->
                        <div class="col-lg-3 mb-3 ">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1571324462923-8d1eec3f3a9f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content ">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description font-weight-light mb-0">
                                        Melaksanakan Pemeriksaan Ante mortem terhadap hewan yang akan dipotong.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Layanan 4-->
                        <div class="col-lg-3">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1583180221827-e9ca414b570b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content ">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description font-weight-light mb-0">
                                        Melaksanakan pemeriksaan Post Mortem terhadap hewan yang sudah dipotong.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Layanan 5 -->
                        <div class="col-lg-3 mb-3 ">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1547637205-fde0c9011f9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content ">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description font-weight-light mb-0">
                                        Menjaga agar produk pangan yang dihasilkan melalui RPH, memenuhi syarat
                                        kesehatan dan agama (ASUH)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Layanan 6 -->
                        <div class="col-lg-3">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1511018055524-56183e65e850?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content ">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description font-weight-light mb-0 " style="
                  text-shadow: 0 20px 28px #080707, 0 0 25px #130a0a;
                ">
                                        Memberikan informasi kepada masyarakat terkait dengan produk pangan yang berasal
                                        dari hewan potong memenuhi syarat kesehatan dan agama (ASUH)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Layanan 7 -->
                        <div class="col-lg-3 mb-3 ">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1606137903496-ed0aa56392ae?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description font-weight-light mb-0">
                                        Berperan serta dalam mempelopori pembuatan produk makanan yang berasal dari
                                        hewan yang memenuhi syarat kesehatan dan agama (ASUH)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Layanan 8 -->
                        <div class="col-md-3 mb-3 ">
                            <div class="hover hover-1 text-white rounded"><img
                                    src="https://images.unsplash.com/photo-1616276462739-6dc82c03ea36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1056&q=80"
                                    alt="">
                                <div class="hover-overlay"></div>
                                <div class="hover-1-content">
                                    <h3 class="hover-1-title text-uppercase font-weight-bold mb-0"> <span
                                            class="font-weight-light">Image
                                        </span>Caption</h3>
                                    <p class="hover-1-description font-weight-light mb-0">
                                        Memfasilitasi lembaga pendidikan baik swasta maupun pemerintah dan lembaga
                                        Diklat yang melakukan kegiatan di RPH Kota Malang, dalam kaitannya praktek kerja
                                        lapangan, survey, penelitian dan sebagainya.
                                    </p>
                                </div>
                            </div>
                            <!-- Demo -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- Waktu dan Tarif -->
            <div class="service-row">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6 d-md-none d-block">
                            <div class="service-row-img">
                                <img src="" alt="Service">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-row-text">

                                <h2>Waktu dan Tarif</h2>

                                <h5 class="section-title">Pelayanan tempat pemotongan setiap hari (Senin sampai dengan
                                    Minggu)</h5>
                                <ol>
                                    <li>Untuk sapi/kerbau/kuda : jam 23.00 s/d jam 06.00.WIB
                                    </li>
                                    <li>Untuk kambing/domba : Pagi jam 05.30 s/d 11.00 dan siang jam 15.00 s/d 17.30
                                        WIB.
                                    </li>
                                    <li>Untuk babi jam 04.30 s/d jam 07.00 WIB
                                    </li>
                                    <p class="font-italic">Kecuali pemotongan darurat (hewan yang mengalami kecelakaan)
                                        dapat dilalyani
                                        setiap
                                        saat.
                                    </p>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-6 d-md-block d-none">
                            <div class="service-row-img">
                                <img src="https://images.unsplash.com/photo-1556740714-a8395b3bf30f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Waktu dan Tarif  -->


            <!-- Hal lain yang perlu dilakukan -->
            <div class="service-row">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="service-row-img">
                                <img src="https://images.unsplash.com/photo-1588582669551-8617e4a757bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
                                    alt="Service">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-row-text">
                                <h2>Hal lain yang perlu dilakukan</h2>
                                <ol>
                                    <li>Pelayanan kandang penampungan selama 24 jam
                                    </li>
                                    <li>Pemeriksaan ante mortem dilakukan sebelum hewan dipotong paling lama 15 menit
                                        setiap ekor.</li>
                                    <li>Pemeriksaan Post mortem dilakukan sesudah hewan dipotong paling lama 15 menit
                                        setiap ekor.
                                    </li>
                                    <li>Menjaga kebersihan tempat dan peralatan pemotongan selama 24 jam setiap hari dan
                                        menjaga ketertiban
                                        pemotongan
                                        pada saat dilaksanakannya proses pemotongan.
                                    </li>
                                    <li>Dilakukan setiap saat dengan sesering mungkin baik melalui surat edaran kepada
                                        seluruh SKPD,
                                        Kecamatan,
                                        dan
                                        Kelurahan di Kota Malang, melalui berbagai pertemuan, melalui media sosial,
                                        melalui pemasangan baner
                                        di
                                        tempat
                                        umum dan melalui Website.
                                    </li>
                                    <li>Dilakukan setiap saat dengan memproduksi Bakso sapi yang halal dan higines.
                                    </li>
                                    <li>Dilakukian setiap saat, sesuai kebutuhan lembaga pendidikan dan lembaga diklat
                                        yang bersangkutan.
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Hal lain yang perlu dilakukan End -->


            <!-- Tarif -->
            <div class="service-row">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="service-row-text">
                            <h2>Tarif Layanan Pemotongan</h2>
                            <h7 class="section-title">Pelayanan tempat pemotongan setiap hari (Senin sampai dengan
                                Minggu)</h7>
                            <ol class="tarif">
                                <li>Pemotongan untuk usaha, hajat dan atau kurban keagamaan (Hari Raya Qurban) tiap ekor
                                    dikenakan
                                    tarip:
                                </li>
                                <div class="row">
                                    <div class="col-8">
                                        <p>Sapi/kerbau/kuda, lengkap dengan timbang kulit dan cuci jerohan, sebesar </p>
                                    </div>
                                    <div class="col-4">
                                        <p> Rp. 55.000,00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <p>Babi, sebesar </p>
                                    </div>
                                    <div class="col-4">
                                        <p> Rp. 65.000,00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <p>Kambing/domba, sebesar</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Rp 9.000,00
                                        </p>
                                    </div>
                                </div>
                                <li> Pemotongan karena keadaan darurat baik untuk usaha dan/atau hajat, tiap ekor
                                    dikenakan tarip :
                                </li>
                                <div class="row">
                                    <div class="col-8">
                                        <p>Sapi/kerbau/kuda, lengkap dengan timbang kulit dan cuci jerohan sebesar</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Rp 66.000,00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <p>Babi, sebesar </p>
                                    </div>
                                    <div class="col-4">
                                        <p> Rp 76.000,00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <p>Kambing/domba, sebesar</p>
                                    </div>
                                    <div class="col-4">
                                        <p> Rp 14.000,00
                                        </p>
                                    </div>
                                </div>
                                <li>Penitipan hewan, setiap harinya dikenakan tarip :
                                </li>
                                <div class="row">
                                    <div class="col-8">
                                        <p>Sapi/kerbau dan kuda per petak</p>
                                    </div>
                                    <div class="col-4">
                                        <p>Rp 12.000,00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <p> Babi per m2 </p>
                                    </div>
                                    <div class="col-4">
                                        <p>Rp 1.500,00
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        <p> Sapi Brahman per ekor </p>
                                    </div>
                                    <div class="col-4">
                                        <p>Rp. 3.000,00
                                        </p>
                                    </div>
                                </div>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tarif end-->


    </main>
    <!--========================== Footer ============================-->
    <!-- Site footer -->
    <div class="site-footer">
        <div class="m-5">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6"><img src="img/tunas.png" style="width: 300px;" alt=""></div>
                        <div class="col-6">
                            <h6>Tugu Aneka Usaha</h6>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>

                </div>


                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">Profil</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">Berita</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">Pengumuman</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Artikel</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Layanan</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Fasilitas</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Produk</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">LPSE Website</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12 text-center">
                    <p class="copyright-text">Copyright &copy; 2020 Tugu Aneka Usaha
                        <a href="#">Malang</a>.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->

    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>

    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

    <script>
        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });

    </script>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>

    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>

</body>

</html>
