<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Rapid Bootstrap Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-breezed.css">
    <link rel="stylesheet" href="assets/css/owl-carousel.css">
    <link rel="stylesheet" href="assets/css/lightbox.css">
    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
        rel="stylesheet">
    <!-- Bootstrap CSS File -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="css/style.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: Rapid
      Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>
    <!--========================== Header ============================-->
    <header id="header">
        <div class="container">
            <div class="logo float-left">
                <!-- Uncomment below if you prefer to use an image logo -->
                <h1 class="text-light">
                    <a href="#" class="scrollto">
                        <img src="img/logo.png" alt="">
                    </a>
                </h1>
                <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
            </div>
            <nav class="main-nav float-right d-none d-lg-block">
                <ul>
                    <li>
                        <a href="index.html">Beranda</a>
                    </li>
                    <li>
                        <a href="Profil.html">Profil</a>
                    </li>
                    <li class="drop-down">
                        <a href="">Informasi</a>
                        <ul>
                            <li>
                                <a href="Berita.html">Berita</a>
                            </li>
                            <li>
                                <a href="pengumuman.html">Pengumuman</a>
                            </li>
                            <li>
                                <a href="artikel.html">Artikel</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="layanan.html">Layanan</a>
                    </li>
                    <li>
                        <a href="fasilitas.html">Fasilitas</a>
                    </li>
                    <li>
                        <a href="produk.html">Produk</a>
                    </li>
                    <li>
                        <a href="#">LPSE Website</a>
                    </li>
                </ul>
            </nav>
            <!-- .main-nav -->
        </div>
    </header>
    <!-- #header -->>
    <main id="main">
        <!--==========================Produk============================-->
        <div class="row tm-welcome-section">
            <h2 class="col-12 text-center tm-section-title">Welcome to Simple House</h2>
            <p class="col-12 text-center">Total 3 HTML pages are included in this template. Header image has a parallax
                effect. You can feel free to download, edit and use this TemplateMo layout for your commercial or
                non-commercial websites.</p>
        </div>
        <!-- Gallery -->
        <div class="row tm-paging-links">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <form action="">
                        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                            <div class="input-group">
                                <input type="search" placeholder="Cari Produk" aria-describedby="button-addon1"
                                    class="form-control border-0 bg-light">
                                <div class="input-group-append">
                                    <button id="button-addon1" type="submit" class="btn btn-link-A">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-1 col-md-1">
                    <a href="" class="btn btn-link" id="button-addon1" style="font-size: 20pt;">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-lg-1 col-md-1">
                    <a href="" class="btn btn-link" id="button-addon1" style="font-size: 20pt;">
                        <i class="fa fa-filter" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row tm-gallery">

            <!-- gallery page 1 -->
            <div id="tm-gallery-page-pizza" class="tm-gallery-page">
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/01.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Fusce dictum finibus</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$45 / $55</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/02.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$65 / $70</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/03.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Sed varius turpis</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$30.50</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/04.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Aliquam sagittis</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$25.50</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/05.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Maecenas eget justo</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$80.25</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/06.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Quisque et felis eros</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$20 / $40 / $60</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/07.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Sed ultricies dui</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$94</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
                <article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                    <figure>
                        <img src="img/gallery/08.jpg" alt="Image" class="img-fluid tm-gallery-img" />
                        <figcaption>
                            <h4 class="tm-gallery-title">Donec porta consequat</h4>
                            <p class="tm-gallery-description">Nam in suscipit nisi, sit amet consectetur metus. Ut sit
                                amet tellus accumsan</p>
                            <p class="tm-gallery-price">$15</p>
                            <div class="fh5co_tags_all">
                                <a href="#" class="fh5co_tagg">Business</a>
                            </div>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <!-- gallery page 1 -->
        </div>
        <!-- #Produk-->
    </main>
    <!--========================== Footer ============================-->
    <div class="site-footer">
        <div class="m-5">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-6"><img src="img/tunas.png" style="width: 300px;" alt=""></div>
                        <div class="col-6">
                            <h6>Tugu Aneka Usaha</h6>
                            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>

                </div>


                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="http://scanfcode.com/category/c-language/">Profil</a></li>
                        <li><a href="http://scanfcode.com/category/front-end-development/">Berita</a></li>
                        <li><a href="http://scanfcode.com/category/back-end-development/">Pengumuman</a></li>
                        <li><a href="http://scanfcode.com/category/java-programming-language/">Artikel</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Layanan</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">Fasilitas</a></li>
                        <li><a href="http://scanfcode.com/category/android/">Produk</a></li>
                        <li><a href="http://scanfcode.com/category/templates/">LPSE Website</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="social-icons">
                        <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="dribbble" href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a class="linkedin" href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-6 col-xs-12 text-center">
                    <p class="copyright-text">Copyright &copy; 2020 Tugu Aneka Usaha
                        <a href="#">Malang</a>.
                    </p>
                </div>

            </div>
        </div>
    </div>
    <!-- #Footer -->
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- Uncomment below i you want to use a preloader -->
    <!-- <div id="preloader"></div> -->
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/isotope.js"></script>
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>
    <script>
        $(function () {
            var selectedClass = "";
            $("p").click(function () {
                selectedClass = $(this).attr("data-rel");
                $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("." + selectedClass).fadeOut();
                setTimeout(function () {
                    $("." + selectedClass).fadeIn();
                    $("#portfolio").fadeTo(50, 1);
                }, 500);

            });
        });
        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                    siblings().removeClass('active');
                }
            });
        };

    </script>

    <!-- JavaScript Libraries -->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery/jquery-migrate.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/mobile-nav/mobile-nav.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>
    <!-- Contact Form JavaScript File -->
    <script src="contactform/contactform.js"></script>
    <!-- Template Main Javascript File -->
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function () {
            // Handle click on paging links
            $('.tm-paging-link').click(function (e) {
                e.preventDefault();

                var page = $(this).text().toLowerCase();
                $('.tm-gallery-page').addClass('hidden');
                $('#tm-gallery-page-' + page).removeClass('hidden');
                $('.tm-paging-link').removeClass('active');
                $(this).addClass("active");
            });
        });

    </script>
</body>

</html>
